body, html, wrapper {
	/* important */
	height: 100%;
}
body{
font-family: arial, san-serif;
}
.header{
background: #ffffff;
border: 20px solid #ffffff;
}
.header .logo
{

}
.menu{
display: inline;
float: right;
}
.menu li{
display: inline;

}
.sub {
font-family: verdinia, sans-serif;
color: #fff;
font-size: 16px;
}
 .menu a{
color: #333;
padding: 20px 10px;
display: inline-block;
font:  20px arial;
text-decoration: none;
text-decoration: capitalize;
border: 2px solid #fff;
}
.menu a:hover{
color: #1FC833;
border-bottom: 1px solid green;
}
.centered{
width:960px;
margin: 0px auto;
}
.center-centered{
margin: 0px auto; 
display: table;
}
.mainbody{
height: 425px;
background: #222222 url('../images/mainbg.jpg') center center no-repeat;
overflow: auto;
min-height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
color: #ffffff !important;
}
.maintext{
color:#ffffff;
font: bold 48px arial; 
margin-top: 40px;
}
.main-subtext{
color: #ffffff;
font-size: 28px;
}
.inputfield{
width: 490px;
margin: 0px auto;
position: relative; 
top: 200px;
}
.prompt{
color: #fff;
font: 18px arial, sans-serif;
}
.field_email{
width: 500px;
height: 50px;
font-size: 32px;
border-radius: 5px;
border: 3px solid #099;
background: #ffffff;
}
.subtext{
color: #fff;
font: 12px arial;
}
.under{
padding: 25px 0px;
/*background: #ddd;*/
}
.featured{
font: 32px arial;
color: #333;
text-align: center;
padding: 25px;
}
.separator{
display: block;
padding: 5px 5px;
background: green;
width: 200px;
margin: 5px;
}
.head-title{
font: 36px arial;
text-transform: capitalize;
text-align: center;
padding: 15px 0px;
color: #333333;
font-weight: 700;
text-transform:uppercase;
}
.footer {
width: 100%;
padding: 15px 0px;
background: #222;
color: #ffffff;
font-family: arial, san-serif;
}
.footer a{
color: #ffffff;
text-decoration: none;
font-family: arial, san-serif;
}
.footer_links{
float: right;
}
.footer-links a{
display: inline-block;
padding: 35px 10px;
}
p.sub-text{
font-size: 28px;
font-family: verdinia, sans-serif;
}
.sign-up a{
width: 25%;
background: green;
padding: 15px 30px;
display: table;
margin: 0px auto;
color: #fff;
text-decoration: none;
text-align: center;
font-family: arial, san-serif;
}
.sign-up a:hover{
background: #222;
}
.content{
 padding: 10px 0px;
}
#icon{
color: #2a2a2a;
font-size: 84px;
padding: 25px 35px;
outline: 2px solid green;
}
/**
	form css
**/
.button{
width: 100%;
background: green;
padding: 15px 30px;
display: table;
margin: 0px auto;
color: #fff;
text-decoration: none;
text-align: center;
outline: 0;
border: 0;
font-family: arial, san-serif;
}
.button:hover{
background: #222222;
}
#mc_embed_signup{
font-family: arial, sans-serif;
}
#mce-EMAIL{
width: 300px;
outline: 0;
font-size: 36px;
font-family: arial, sans-serif;
}
#mce-FNAME{
width: 300px;
outline: 0;
font-size: 36px;

font-family: arial, sans-serif;
}
#mce-LNAME{
width: 300px;
outline: 0;
font-size: 36px;

font-family: arial, sans-serif;
}
/**
	etc css
**/


.bg-front{
width: 100%;
padding: 40px 0px;
background: #222;
}
.bg-front h1{
font-family: arial, sans-serif;
font-weight: 200;
font-size: 64px;
color: #fff;
text-alignL center;
display: block;
}
.list-contact li {
background: #ddd;
padding: 25px 15px;
font-size: 28px;
color: #222;
font-family: arial, sans-serif;
margin: 10px 0px;
}